apiVersion: apps/v1
kind: Deployment
metadata:
  name: myapp
spec:
  # number of replicas to be created
  replicas: 3

  # rule to select the pods managed by this deployment object
  selector:
    matchLabels:
      app: myapp

  # create pod(s) if they do not exist
  template:
    metadata:
      labels:
        app: myapp
    spec:
      containers:
        - name: myapp
          image: nikhilmahajan293/myapp
          ports:
            - name: http
              containerPort: 80
              protocol: TCP

---
apiVersion: v1
kind: Service
metadata:
  name: myapp-service
spec:
  type: NodePort
  selector:
    app: myapp
  ports:
    - name: http
      port: 9090
      targetPort: 80
      protocol: TCP
